[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[pack]
	threads = 0
[difftool]
	prompt = false
[diff]
	tool = meld
[alias]
	meld = /usr/local/bin/git-meld
	ci = commit
	st = status
[user]
	name = cczona
	email = cczona@gmail.com
