*DISABLED*
.addressbook
.addressbook.lu
.adobe/
.CFUserTextEncoding
.cola
.config/hub
.cpan/
.cshrc
.cups/
.dlt_li3
.dropbox/
.DS_STORE
.dvdcss/
.fastri-fulltext/
.fastri-index
.fontconfig/
.forward
.GalleryRemote/
.gconf/
.gconfd/
.gem-outdated/
.gem/
.gitk
.gnome2/
.Guardfile
.heroku
.irb-history
.irb-save-history
.irb_history
.keepassx/
.lesshst
.local/share/autojump/
.MacOSX/
.MCXLC
.mplayer/
.npm
.PermissionsScript
.pip
.powerupdate.user.properties
.procmail
.pry_history
.psi/
.qt/
.rdoc
.RebootScript
.recently-used
.ri/
.rnd
.roescache/
.sh_history
.smb/
.spumux/
.sqlite_history
.ssh
.sversionrc
.svk/
.tchshrc
.tcshrc
.thumbnails/
.Trash/
.trc
.user60.rdb
.vim/*/*.swp
.Vimball.swp
.WHCC/
.Xauthority
.Xdefaults
.yard
.zprofile
.zshenv
Applications
Aptana
Archives
Baking
bin
Desktop
Documents
Downloads
Dropbox
eBooks
Forked
Homework
keepass-data
keepass.kdb
Library
mm.cfg
Movies
Music
Notes
Pictures
Public
Rails
Reference
repos
Repository
Sites
system.gems
vim
