[gc]
  reflogExpire = 180 days
  reflogexpireUnreachable = 90 days
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[format]
  pretty = "%Cblue%h%Creset [%cr] %s"
[user]
	name = cczona
	email = cczona@gmail.com
[pack]
	threads = 0
[core]
	excludesfile = ~/.gitignore-global
# NOTE: git already calls the environment variable $EDITOR, a reliably platform-independent method. Stick with it.
#       editor = $EDITOR
	quotepath = false
[alias]
	ap = add --patch
	bl= branch -al
	br = branch -vv
	bra = branch -vv -a
	ci = commit  -v --cleanup=whitespace -m
	co = checkout
	dc  = diff --cached  --word-diff=color
	dcl = diff --cached
	di  = diff --word-diff=color
	dil = diff
	dt = difftool
	l   = "log --pretty=oneline --decorate --all --tags --branches --remotes --graph --full-history --abbrev-commit"
	ll  = "log --pretty=short   --decorate --all --tags --branches --remotes --graph --full-history --abbrev-commit --stat"
	lll = "log --pretty=medium  --decorate --all --tags --branches --remotes --graph --full-history --stat"
	ls  = ls-tree -r --name-only #NOTE needs something treeish, a commit ref like git ls HEAD or git ls master
	lsr = ls-tree -r --name-only --full-tree # lists all contents of treeish, instead of those just relative to your location
	mt = mergetool
	pr = pull --rebase
	pu = pull
	re = remote -v
	st = status
	stashu = stash --include-untracked
	unstage = reset HEAD
[status]
  color = true
[merge]
  tool = opendiff
  summary = true
[mergetool]
  prompt = false
  keepBackup = false
[mergetool]
  tool = opendiff
[diff]
	tool = opendiff
[difftool]
  prompt = false
  keepBackup = false
[difftool "diffmerge"]
	cmd = diffmerge "$LOCAL" "$REMOTE"
[git-tmbundle]
  gitx-path = /Applications/GitX.app
[rerere]
	enabled = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always # pull using rebase instead of merge
[push]
	default = simple
