[gc]
        reflogExpire = 180 days
        reflogexpireUnreachable = 90 days
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[format]
  pretty = "%Cblue%h%Creset [%cr] %s"
[user]
	name = cczona
	email = cczona@gmail.com
[pack]
	threads = 0
[core]
# NOTE: this is the source of "sh: -+: invalid option" for git log, git diff, git show!
#	pager = -+$LESS -FRX
	whitespace = -blank-at-eol, -space-before-tab, -indent-with-non-tab, -tab-in-indent, -blank-at-eof, -cr-at-eol
	excludesfile = ~/.gitignore-global
# NOTE: git already calls the environment variable $EDITOR, a reliably platform-independent method. Stick with it.
#       editor = $EDITOR
	quotepath = false
[alias]
	ap = add --patch
	st = status
	ci = commit --cleanup=whitespace -m
	co = checkout
	br = branch
	bl= branch -al
	di = diff
	dc = diff --cached
	dt = difftool
	mt = mergetool
	logs = "log --stat --pretty=\"%n%n%Cblue%h%Creset [%ci] %Cred%s&Creset\""
	pu = pull
	pr = pull --rebase
	unstage = reset HEAD
[merge]
  tool = diffmerge
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "diffmerge"]
  path = /usr/bin/diffmerge
	cmd = diffmerge --merge --result="$MERGED" "$LOCAL" "$BASE" "$REMOTE"
	trustexitcode = false
[diff]
	tool = diffmerge
  prompt = false
[difftool]
  prompt = false
  keepBackup = false
[difftool "diffmerge"]
	cmd = diffmerge "$LOCAL" "$REMOTE"
[git-tmbundle]
  gitx-path = /Applications/GitX.app